.section{
    display: flex;
    justify-content: space-between;
    background-image: url("../../public/dish.jpeg" );
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}